<div class="row">
  <div class="col-xs-12">
    <img [src]="RecipeData.imagePath" alt="some image" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ RecipeData.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12" appDropdown>
    <button type="button"
            class="btn btn-primary dropdown-toggle">
      Manage Recipe
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a style="cursor: pointer" (click)="toShopingList()">To shoping list</a></li>
      <li><a style="cursor: pointer" [routerLink]="['edit']">Edit recipe</a></li>
      <li><a style="cursor: pointer" (click)="deleteRecipe()">Delete recipe</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>{{ RecipeData.description }}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item"
          *ngFor="let ingredient of RecipeData.ingredients"
      >
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
