input.ng-invalid.ng-touched {
   border: 2px solid red;
 }
.help-text {
  color: red;
  font-family: Verdana;
  font-size: 14px;
}
.error {
  padding: 10px;
  color: red;
}
.row {
  padding-top: 150px;
}

