nav {
  font-family: 'ConfettiStream';
  font-size: 20px;
  position: relative;
  background: lightgoldenrodyellow;
  padding: 10px;
  z-index: 2;
}
nav li a {
  margin-left: 20px;
  font-size: 30px;
  z-index: 10;
}
nav .nav {
  margin-bottom: 0;
}
.navbar-brand {
  display: block;
  height: auto;
  width: 100%;
  position: relative;
}
nav a img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}
.navbar {
  margin-bottom: 0;
}
.navbar-nav {
  margin-bottom: 0;
}
.menu li a {
  font-family: 'Ubuntu';
  font-weight: bold;
  font-size: 20px;
}
.navbar-right {
  margin-right: 10px;
  transform: none;
}
nav::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10px;
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-bottom: 100vw solid #e89b27;
  border-right: 100px solid transparent;
  border-top: none;
  transform-origin: left bottom;
  transform: rotate(90deg);

  z-index: -2;
}
nav::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 10px;
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-bottom: 100vw solid lightgoldenrodyellow;
  border-right: 100px solid transparent;
  border-top: none;
  transform-origin: left bottom;
  transform: rotate(90deg);
  z-index: -1;
}
@media screen and (max-width:1000px) {
  nav a img {
    position: static;
    width: 70%;
    margin-left: 15%;
  }
  nav a {
    text-align: center;
  }
}

