<a style="cursor: pointer"
   class="list-group-item clearfix"
   routerLinkActive="active"
   [routerLink]="['/recipes-list', this.recipeIndex]"
>
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ item_recipe.name }}</h4>
    <p class="list-group-item-text">{{ item_recipe.description }}</p>
  </div>
  <span class="pull-right">
    <img [src]="item_recipe.imagePath"
         [alt]="item_recipe.name"
         class="img-responsive"
         style="max-height: 50px">
  </span>
</a>
