<div class="row" [@shadow]>
  <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    <form (ngSubmit)="onSignin(f)" #f="ngForm">
      <div class="form-group">
        <label for="email">Email:
          <span class="error" *ngIf="mail.invalid && mail.touched">This field is required!</span>
        </label>
        <input
          name="email"
          id="email"
          type="email"
          class="form-control"
          #mail="ngModel"
          ngModel required email>
      </div>
      <div class="form-group">
        <label for="password">Password:
          <span class="error" *ngIf="password.invalid && password.touched">This field is required!</span>
        </label>
        <input
          name="password"
          id="password"
          type="password"
          class="form-control"
          #password="ngModel"
          ngModel required>
      </div>
      <button class="my-btn-style" type="submit" [disabled]="f.invalid">Sign in</button>
    </form>
    <ng-template [ngIf]="(authState | async).errorText">
      <p class="error">{{ (authState | async).errorText }}</p>
    </ng-template>

  </div>
</div>
